.note__content
  %ol
    %li  
      = calculation.title
    %li
      = calculation.product1
    %li
      = calculation.unit_price1
    %li
      = calculation.number1
    %li
      = calculation.sub_total1  
    %li
      = link_to '削除', calculation_path(calculation.id), method: :delete