.wrapper
  = form_with model: @calculation, id:"form", local: true do |f|
    .Title 
      = f.text_field :title, class:"Title__form" ,placeholder:"タイトルを入力してください"
    .upbar
      %table.Input_main
        %tr.Input_main__colmun
          %th.Input_main__column--name
            商品
          %th.Input_main__column--name
            単価
          %th.Input_main__column--name
            個数
          %th.Input_main__column--name
            小計
          %th.Input_main__column--name
            合計
        %tr.Input_main__colmun
          %td
            = f.text_field :product1, class:"Input_main__column--name"
          %td
            = f.text_field :unit_price1, class:"Input_main__column--num"
          %td
            = f.text_field :number1, class:"Input_main__column--number"
          %td
            = f.text_field :sub_total1, class:"Input_main__column--sub"
        %tr.Input_main__colmun
          %td
            = f.text_field :product2, class:"Input_main__column--name"
          %td
            = f.text_field :unit_price2, class:"Input_main__column--num"
          %td
            = f.text_field :number2, class:"Input_main__column--number"
          %td
            = f.text_field :sub_total2, class:"Input_main__column--sub"
        %tr.Input_main__colmun
          %td
            = f.text_field :product3, class:"Input_main__column--name"
          %td
            = f.text_field :unit_price3, class:"Input_main__column--num"
          %td
            = f.text_field :number3, class:"Input_main__column--number"
          %td
            = f.text_field :sub_total3, class:"Input_main__column--sub"
        %tr.Input_main__colmun
          %td
            = f.text_field :product4, class:"Input_main__column--name"
          %td
            = f.text_field :unit_price4, class:"Input_main__column--num"
          %td
            = f.text_field :number4, class:"Input_main__column--number"
          %td
            = f.text_field :sub_total4, class:"Input_main__column--sub"
          %td
            = f.text_field :total, class:"Input_main__column--total"
    .Form
      = f.submit "保存する", class:"Form__botton"   

    .note
      = render @calculations
